DB_HOST={YOUR DATABASE HOST (usally localhost)}
DB_PORT={YOUR DATABASE PORT} (usally 5432)
DB_USERNAME={YOUR DATABASE USERNAME}
DB_PASSWORD=={YOUR DATABASE PASSWORD (if any)}
DB_NAME={CUSTOMER_BILLING_PORTAL - IF USED THE PROVIDED SCRIPTS}
JWT_SECRET={GENERATE YOUR OWN JWT SECRET IN TERMINAL - 'openssl rand -base64 45 | cut -c1-60'}
JWT_EXPIRATION_TIME={YOUR CHOICE OF JWT EXPIRATION TIME - CAN BE SET TO 3600s}
GOOGLE_CLIENT_ID={YOUR GOOGLE CLIENT ID - TO GENERATE, VISIT https://console.developers.google.com/ -> Credentials -> Create New Credentials -> OAuth Client ID -> Application Type -> Choose Web Application -> Origins & URLs set to http://localhost:3001}
ADMIN_EMAIL={INSERT THE EMAIL ADDRESS YOU WISH TO HAVE THE ADMIN ROLE}